/* Global styles
------------------------- */
/* Box model fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* Reset content widths */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body {
  font-family: Helvetica;
}
h1, h2, h3 {
  line-height: 1.2em;
  font-family: sans-serif;
}
h2 {
  margin-top: 0;
}
main {
  line-height: 1.4em;
}
.content-wrap {
  max-width: 925px;
  margin: 0 auto;
  padding: 20px;
  overflow: auto;
}
.col-narrow {
  display: inline-block;
  width: 15%;
}
.col-wide {
  display: inline-block;
  width: 80%;
}
.col-3 {
  display:inline-block;
  width: 32%;
}
.button {

}
/* Header and footer styles
------------------------- */
/* Header */
header a {
  text-decoration: none;
}
header a:visited {
  color: inherit;
}

/* Footer */
footer {
  background: lightblue;
}
footer>p {
  padding-left: 15px;
  padding-top: 15px;
}
footer p:first-child {
  color: gray;
}
footer ul {
  list-style-type: none;
}
footer a {
  text-decoration: none;
}
.footer-social {
  text-align: center;
  font-size: 13px;
}

/* Navigation styles
------------------------- */
nav {
  margin-top: 30px;
  text-align: center;
}
.btn-blocky {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: black 5px solid;
  border-radius: 10%;
  text-align: center;
}
.btn-blocky span {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}
.btn-blocky i {
  position: absolute;
  top: 60px;
  left: 40px;
}
.btn-link:link {
    color: black;
}

/* visited link */
.btn-link:visited {
  color: initial;
}
/* mouse over link */
.btn-link:hover {
  color: lightblue;
}
/* selected link */
.btn-link:active {
    color: lightblue;
}

/* Index styles
------------------------- */
.about-img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  border: black solid 5px;
  border-radius: 50%;
}

/* Portfolio styles
------------------------- */
/* Header */
.portfolio-header {
  background: #16161D;
  color: white;
}
.portfolio-header h2 {
  padding-top: 15px;
  text-align: center;
}
.portfolio-header h2 ~ p {
  margin: 0;
  text-align: center;
}
.portfolio-header h2 ~ p:last-of-type {
  margin-top: 20px;
  font-style: italic;
}
.portfolio-home-title {
  font-size: 1em;
  margin-bottom: 2em;
}
.page-nav {
  background: #343434;
  color: #FFFAFA;
}
/* Portfolio menu main content */
/* Old portfolio page CSS
.portfolio-item:nth-of-type(odd) {
  background: #F5FFFA;
}
.portfolio-item:nth-of-type(even) {
  background: #F8F8FF;
}
.head-img {
  width: 400px;
  display: block;
  margin: 0 auto;
}
.sub-img {
  width: 300px;
  display: inline-block;
  padding: 10px;
}
.more-images {
  text-align:center;
}*/
.portfolio-featured-item {
  width: 100%;
  margin: 0 auto;
  padding: 35px;
  overflow: auto;
  background: linear-gradient(rgba(166,205,222,0.5), rgba(166,205,222,0.5));
  border-bottom: 3px solid white;
  border-top: 3px solid white;
}
.portfolio-featured-item h3,
.portfolio-other-item h3 {
  margin-top: 0;
}
.portfolio-featured-item p,
.portfolio-other-item p {
  margin: 0;
}
/* Background images for featured items
#featured-item-3 {
  background: linear-gradient(rgba(166,205,222,0.7), rgba(166,205,222,0.7)), url(images/mhc-1.jpg);
  background-size: cover;
}
#featured-item-2 {
  background: linear-gradient(rgba(166,205,222,0.7), rgba(166,205,222,0.7)), url(images/cult-app-thumbnail.jpg);
  background-size: cover;
}
#featured-item-1 {
  background: linear-gradient(rgba(166,205,222,0.7), rgba(166,205,222,0.7)), url(images/nycaasc-1.png);
  background-size: cover;
}*/
.portfolio-other-item {
  width: 90%;
  margin: 0 auto;
  padding: 40px;
  overflow: auto;
}
.portfolio-bdr {
  border-bottom: 3px solid black;
}

/* Portfolio items */
.tagline img,
.project img,
.about img,
.whats-next img {
  display: block;
  margin: auto;
  max-width: 500px;
}
