/* Meta-information
Colors:
#16161D - Eigengrau
#9fffd7 - Seafoam
#d9ffef - Mint
------------------------- */

/* -------------------------
 * Global styles
 ------------------------- */

/* Box model fix
------------------------- */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* CSS Resets
------------------------- */

/* Content widths */
html, body {
  margin: 0px;
  padding: 0px;
}

/* Document sections
------------------------- */
body {
  font-family: Helvetica, sans-serif;
}

main {
  line-height: 1.4em;
}

section {
  margin-bottom: 1.5em;
}

h1, h2, h3 {
  line-height: 1.2em;
  font-family: sans-serif;
}

h2 {
  margin-top: 0;
}

blockquote {
  font-style: italic;
}

/* Content containers
------------------------- */
.content-wrap {
  max-width: 925px;
  margin: 0 auto;
  padding: 22px;
  overflow: auto;
}

.content-wrap img~h2 {
  margin-top: 50px;
}

/** Cards **/

.card {
  z-index: 1;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media (min-width: 769px) {
  .card:hover {
    /*box-shadow: 0px 8px 3px rgba(0, 0, 0, 0.12), 0px 8px 3px rgba(0, 0, 0, 0.24);*/
    /*-webkit-box-shadow: 0px 8px 3px 3px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 8px 3px 3px rgba(0,0,0,0.24);*/
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.12);
  }
}

main p {
  font-size: 14px;
  line-height: 24px;
}

@media (max-width: 425px) {
  main p {
    color: hsla(200,0%,0%,0.75);
  }
}
@media (min-width: 426px) {
  main p {
    color: hsla(200,0%,0%,0.8);
  }
}

.about-img {
  display: block;
  margin: 0 auto;
  width: 50%;
  max-width: 300px;
  border-radius: 50%;
}

/* Content components
------------------------- */

/* Button container */
@media (max-width: 768px) {
  .button-group {
    text-align: center;
  }
}
@media (min-width: 769px) {
  .button-group {
    text-align: center;
  }
}

/* Buttons
/* Note: To be used for anchor elements only.
/* Declaration format:
   <a class="button"><span class="raised">Your Text here</span></a>
*/
.button { /* Touchable area of button */
  display: inline-block;
  min-width: 88px;
  min-height: 48px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  line-height: 48px;
}

.button span { /* Visible button */
  display: inline-block;
  min-width: 64px;
  min-height: 36px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  line-height: 36px;
  font-size: 14px;
  text-decoration: none;
}

.raised { /* Raised button */
  background-color: hsla(155, 100%, 93%, 1.0);
  color: #000;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

@media (max-width: 768px) {/* Raised button shadow for mobile devices */
  .raised {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}

/* Raised button states */
.raised:hover {
  background-color: hsla(155, 100%, 83%, 1.12);
}

@media (min-width: 769px) { /* Desktop browsers add shadow on hover */
  .raised:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}

.flat { /* Flat buttons */
  background-color: rgba(255,255,255,0);
  color: #000;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.flat:hover {
  background-color: rgba(255,255,255,0.4);
  color: #121212;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

/* -------------------------
 * Navigation styles
------------------------- */

nav {
  text-align: center;
}

.menu-icon {
  width: 100px;
}

.btn-blocky {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: black 5px solid;
  border-radius: 20%;
  text-align: center;
}

.btn-blocky span {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

.btn-blocky i {
  position: absolute;
  top: 60px;
  left: 40px;
}


/* -------------------------
 * Header and footer styles
------------------------- */

/* Site header
------------------------- */

header {
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  z-index: 2;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a:visited {
  color: inherit;
}

.site-header {
  background: #16161D;
  color: white;
}

.site-header h2 {
  padding-top: 15px;
  text-align: center;
}

.site-header h1~p {
  margin: 0;
}

.site-header h1~p:last-of-type {
  margin-top: 20px;
  font-style: italic;
}

/* Site navigator component */

.site-nav {
  border-bottom: 1px solid #9fffd7;
  margin-bottom: 25px;
}

.site-nav ul {
  list-style: none;
  padding: 0;
  font-size: 1em;
  line-height: 1.5em;
}

.site-nav ul li {
  display: block;
}


/* Site footer
------------------------- */

#site-footer {
  padding: 10px;
  background: #9fffd7;
  color: hsla(200,0%,0%,0.7);
  z-index: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.contact ul {
  list-style: none;
}

#site-footer>p:first-of-type {
  color: gray;
}

@media (min-width: 769px) {
  .contact {
    display: inline-block;
    width: 45%;
    height: 116px;
    border: green solid 1px;
  }
}


/* -------------------------
 * index.html styles
------------------------- */
#bio p {
  font-size: 24px;
  line-height: 32px;
  color: hsla(200,0%,0%,0.65);;
}

/* Experimental layout follows! */
@media (min-width: 469px) {
  #bio, #lightningblog {
    display: inline-block;
    width: 50%;
    float: left;
  }
  #bio {
    padding-right: 20px;
    text-align: center;
  }
  #lightningblog {
    padding-left: 25px;
    border-left: #9fffd7 1px solid;
  }
}

/* -------------------------
 * portfolio.html styles
------------------------- */

/* Header
------------------------- */

.portfolio-home-title {
  font-size: 1em;
  margin-bottom: 2em;
}

.page-nav {
  background: #343434;
  color: #FFFAFA;
}


/* Directory
------------------------- */

.portfolio-page {
  text-align: center;
}

/** CSS Grid layout **/

.portfolio-wrapper {
  display: grid;
  grid-gap: 32px;
}

@media (max-width: 768px) {
  .portfolio-wrapper {
    grid-auto-flow: row;
  }
}

@media (min-width: 769px) {
  .portfolio-wrapper {
    grid-template-columns: 1fr 1fr;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

/** Cards **/

.portfolio-card {
  z-index: 5;
  overflow: auto;
  background: #d9ffef;
}

.portfolio-card:hover {
  background-color: hsla(155, 100%, 83%, 1.12);
}

.portfolio-card a {
  color: inherit;
  color: hsla(200,0%,0%,0.6);
  text-decoration: none;
}

.portfolio-card a:hover {
  color: hsla(200,0%,0%,0.9);;
}

.portfolio-card-content {
  /*z-index: 3;*/
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.portfolio-card-media {
  /*z-index: 2;*/
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}

.portfolio-card-media > div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.portfolio-card-media > div > img {
  width: 100%;
}


/* NOTE: The following three styles describe the date and tags as they appear in the Portfolio page's cards and are not universal to each item's respective detail page. */
.portfolio-card-content h3 {
  margin: 0;
  padding: 16px;
  padding-top: 24px;
  font-size: 24px;
  font-weight: lighter;
  /*color: hsla(200,0%,0%,0.5);*/
}

.portfolio-card-content p {
  margin: 0;
  padding: 16px;
  padding-top: 0;
  /*font-size: 14px;*/
  color: hsla(200,0%,0%,0.7);
}

.portfolio-card-content p:first-of-type {
  padding-bottom: 0;
}
/* END: Portfolio page-specific styles */


/* -------------------------
 *  _portfolio/ page styles
 --------------------------*/

@media (max-width: 425px) {
  .tagline img, .project img, .about img, .whats-next img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 425px;
    height: auto;
  }
}

.tagline img, .project img, .about img, .whats-next img {
  display: block;
  margin: 0 auto;
  max-width: 720px;
  height: auto;
}

.lnybc-page {

}

.light-off {
  background-color: #16161D;
  color: rgb(217, 255, 239);
  transition: all 0.3s ease;
}
.light-off p  {
  color: #ddd;
}
