/* Global styles
------------------------- */
/* Box model fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  line-height: 1.4em;
  font-family: Helvetica;
  margin: 0;
}
h1, h2, h3 {
  line-height: 1.2em;
  font-family: sans-serif;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: auto;
}
h1 {
  font-size: 2.25em;
}
h2 {
  margin-top: 0;
  font-size: 2em;
}
a {
  font-weight: bold;
}
/* Index styles
------------------------- */
.about-img {
  float:right;
  width: 400px;
  border-radius: 50%;
}

/* Portfolio styles
------------------------- */
/* Header */
.site-header {
  background: #16161D;
  color: white;
}
.page-nav {
  background: #343434;
  color: #FFFAFA;
}
/* Main content */
.portfolio-item:nth-of-type(odd) {
  background: #F5FFFA;
}
.portfolio-item:nth-of-type(even) {
  background: #F8F8FF;
}
.head-img {
  width: 400px;
  display: block;
  margin: 0 auto;
}
.sub-img {
  width: 300px;
  display: inline-block;
  padding: 10px;
}
.more-images {
  text-align:center;
}
